/****************************************
BODY
****************************************/
/*keep the footer at the bottom of the screen even when there's not enough content to fill a screen*/
.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
}
.content-wrapper__main {
    flex-basis: 500%;
}

.content-wrapper__header {
    margin-bottom: 3rem;
}

.content-wrapper__main {
    margin-bottom: 5rem;
}


/****************************************
HEADER
****************************************/
.header_bordered {
    border-top: 2px solid #4396bf;
    border-bottom: 2px solid #4396bf;
}

.navbar-brand_istation {
    margin-bottom: 0;
    padding: 0.5rem 0;
}
.navbar-brand_istation:before {
    height: 25px;
    width: 25px;
    display: inline-block;
    content: '';
    left: -25px;
    background: url(../img/logo_notext.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.navbar-light .navbar-nav.navbar-nav_istation a.nav-link {
    color: rgba(0,0,0,.8);
}


/****************************************
STATUSES
*****************************************/

/* sizing */
.summary-status-1,
.summary-status-2 { font-size: 144px; }

.service-status-1,
.service-status-2,
.service-status-3,
.service-status-4 { font-size: 24px; }

/* color (from Bootstrap's root colors) */
.summary-status-1,
.service-status-1 {
    color: #28a745; /*this is a fallback for ie where css variables don't exist*/
    color: var(--green);
}
.service-status-2 {
    color: #ffc107;
    color: var(--yellow);
}
.summary-status-2,
.service-status-3 {
    color: #fd7e14;
    color: var(--orange);
}
.service-status-4 {
    color: #007bff;
    color: var(--blue);
}


/****************************************
LISTS
****************************************/

/*striped alternating rows in list-group_striped*/
.list-group_striped .list-group-item:nth-of-type(even) {
    background: #f0f3f5;
}
.list-group_striped .list-group-item:nth-of-type(odd) {
    background: #f8f9fa;
}

/*give a list-group-item a display of flex (so icon children align properly)*/
.list-group_dflex-items .list-group-item {
    display: -ms-flexbox;
    display: flex;
}

/*give a list-group-item more spacing*/
.list-group_spaced-4 > .list-group-item {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/*give unstyled list items more spacing when there are multiples in the list*/
.list-unstyled_spaced-3 li + li {
    margin-top: 1rem;
}


/****************************************
EVENTS
****************************************/
.event {
    max-width: 600px;
}
.event__date {
    font-weight: normal;
    margin-bottom: 1rem;
}
.event__title {
    font-weight: bold;
    margin-right: .5rem;
}
.event__time {

}
.event__desc {
    display: block;
}


/****************************************
FOOTER
****************************************/
.footer_bordered {
    border-top: 2px solid #4396bf;
    color: #808080;
    background-color: #1a1a1a;
    font-size: 80%;
}

.footer_bordered__nav {
    color: #999;
    background-color: #333;
}

.footer_bordered__a {
    color: #b2b2b2;
}

.sm-link {
    background-image: url(../img/basic-sprite-map.png);
    width: 21px;
    height: 21px;
    display: inline-block;
    text-indent: -10000em;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: .5rem;
}

.sm-link_youtube {
    background-position: -146px 0;
}

.sm-link_linkedin {
    background-position: 0 0;
}

.sm-link_twitter {
    background-position: -21px 0;
}

.sm-link_facebook {
    background-position: -63px 0;
}


/****************************************
LOADING SPINNER
****************************************/

.loading-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}
